@model Author
@{
    ViewData["Title"] = "Create an Author";
}

<form method="post" style="width: 75%; margin: auto">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2>Create a New Author</h2>
            <hr />
        </div>
        <div class="mb-3">
            <label asp-for="FirstName"></label>
            <input asp-for="FirstName" class="form-control">
            <span asp-validation-for="FirstName" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="MiddleName"></label>
            <input asp-for="MiddleName" class="form-control">
        </div>
        <div class="mb-3">
            <label asp-for="LastName"></label>
            <input asp-for="LastName" class="form-control">
            <span asp-validation-for="LastName" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="BirthDate"></label>
            <input asp-for="BirthDate" class="form-control" value="DD/MM/YYYY">
            <span asp-validation-for="BirthDate" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary" style="width:150px">
            Create
        </button>
        <a asp-controller="Home" asp-action="Index" class="btn btn-secondary" style="width:150px">
            Cancel
        </a>
    </div>
</form>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}
    <div style="margin-top:25px"></div>
    <div class="d-grid gap-2" style="width:75%; margin: auto">
        <button class="btn btn-light" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal">Add a book!</button>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    ...
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>

@*
<div class="pop-up" id="pop-up">
    <div class="pop-up-conteiner">
        <div class="pop-up-body" id="pop-up-body">
            <p>Add a book</p>
            <form action="">
                <input type="text" placeholder="Name">
                <input type="text" placeholder="Pages">
                <input type="text" placeholder="Genre">
                <button>Add</button>
            </form>
            <div class="pop-up-close" id="pop-up-close">&#10006</div>
        </div>
    </div>
</div>

<script src="~/js/site.js"></script>*@