@model Author
@{
    ViewData["Title"] = "Create an Author";
}

<form method="post" style="width: 100%; margin: auto">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2>Create a New Author</h2>
            <hr />
        </div>
        <div class="mb-3">
            <label asp-for="FirstName"></label>
            <input asp-for="FirstName" class="form-control">
            <span asp-validation-for="FirstName" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="MiddleName"></label>
            <input asp-for="MiddleName" class="form-control">
        </div>
        <div class="mb-3">
            <label asp-for="LastName"></label>
            <input asp-for="LastName" class="form-control">
            <span asp-validation-for="LastName" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="BirthDate"></label>
            <input asp-for="BirthDate" class="form-control">
            <span asp-validation-for="BirthDate" class="text-danger"></span>
        </div>
        <div id="books-items"></div>
        <button type="submit" class="btn btn-primary" style="width:150px">
            <i class="bi bi-check-square"></i> &nbsp; Create
        </button>
        <a asp-controller="Home" asp-action="Index" class="btn btn-secondary" style="width:150px">
            <i class="bi bi-x-circle"></i> &nbsp; Cancel
        </a>
    </div>
</form>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
    <script>
        $(function () {
            var i = 0;
            var t = 1;
            $('#save-book').click(function () {
                const a = $('#books-name').val();
                const b = $('#books-pageqty').val();
                const c = $('#books-genre').val();
                console.log(a);
                console.log(b);
                console.log(c);

                $('#books-items').append("<p>Added a book # " + t + "</p>");
                $('#books-items').append("<p>Books Name: " + a + "</p>");
                $('#books-items').append("<p>Books PageQty: " + b + "</p>");
                $('#books-items').append("<p>Books Gener: " + c + "</p>");

                $('#books-items').append("<input type='hidden' value='" + a + "' name='Books[" + i + "].name' />");
                $('#books-items').append("<input type='hidden' value='" + b + "' name='Books[" + i + "].pageqty' />");
                $('#books-items').append("<input type='hidden' value='" + c + "' name='Books[" + i + "].genre' />");
                i++;
                t++;

                $('#books-name').val('');
                $('#books-pageqty').val('');
                $('#books-genre').val('');
            })
        })
    </script>
}
    <div style="margin-top:25px"></div>
    <div class="d-grid gap-2" style="width:75%; margin: auto">
        <button class="btn btn-light" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal">Add a book!</button>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Add a book</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                        <div class="mb-3">
                            <label>Name</label>
                            <div style="margin-bottom: 15px">
                                <input type="text" class="form-control" id="books-name" placeholder="Love Novel" />
                            </div>
                            <label>Page Qty</label>
                            <div style="margin-bottom: 15px">
                                <input type="number" class="form-control" id="books-pageqty" placeholder="321" />
                            </div>
                            <div class="mb-3">
                                <label>Genre</label>
                                <select for="Genre" class="form-select" id="books-genre">
                                    <option value="0">AvantGarde</option>
                                    <option value="1">Action</option>
                                    <option value="2">Detective</option>
                                    <option value="3">Historical</option>
                                    <option value="4">Love</option>
                                </select>
                            </div>
                        </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal" id="save-book">Save changes</button>
                </div>
            </div>
        </div>
    </div>

