@model Book
@{
    ViewData["Title"] = "Create an Author";
}

<form method="post" style="width: 100%; margin: auto">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2>Create</h2>
            <hr />
        </div>
        <div class="mb-3">
            <label asp-for="Name"></label>
            <input asp-for="Name" class="form-control">
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="PageQty"></label>
            <input asp-for="PageQty" class="form-control">
            <span asp-validation-for="PageQty" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Genre"></label>
            <select asp-for="Genre" class="form-select" id="exampleSelect1">
                <option value="0">AvantGarde</option>
                <option value="1">Action</option>
                <option value="2">Detective</option>
                <option value="3">Historical</option>
                <option value="4">Love</option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary" style="width:150px">
            <i class="bi bi-check-square"></i> &nbsp; Create
        </button>
        <a asp-controller="Books" asp-action="Index" class="btn btn-secondary" style="width:150px">
            <i class="bi bi-x-circle"></i> &nbsp; Cancel
        </a>
    </div>
</form>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />}
